body{
    margin-left: 200px;
}

p{
    /* text-align: center; */
    margin-left: 20px;
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.top img{
    height: 300px;
    width: 250px;
    margin-right: 20px;
}

.top{
    display: block;
}


.top-img{
    float: left;
}