@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans&display=swap');

.page_head {
    display: flex;
    justify-content: space-between;
    font-size: 60px;
}

.button_git {
    height: 50px;
}

.page_body {
    display: flex;
    justify-content: space-between;
}

.page_body_list {
    display: flex;
    flex-direction: column;
    font-size: 40px;

}

.list_title {
    margin-bottom: 50px;
}

.page_body_list_profile {
    display: flex;
    margin-bottom: 50px;
}

.page_body_list_job {
    display: flex;
    margin-bottom: 50px;
}

.page_body_list_student {
    display: flex;
    margin-bottom: 50px;
}

.page_body_list_hobby {
    display: flex;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}