@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans&display=swap');

@media screen and (max-width:480px) { 
    .top_page_content {
        display: flex;
        flex-direction: column;
    }
}

.body {
    background-color: #b9b9b9;
}

.body_head {
    height: 400px;
    width: 100%;
    background-image: url("../backgroungImg/TokyoSta.jpg");
    background-size: 100% 400px;
    opacity: 0.6;
    color: #fff;
    background-repeat: no-repeat;
}

.body_main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    div.body_main_upside {
        display: flex;
        text-align: center;

        img.img_about{
            width: 300px;
            height: 200px;
        }
        img.img_job {
            width: 300px;
            height: 200px;
        }
        img.img_travel {
            width: 300px;
            height: 200px;
        }

        p.text_about {
            position: absolute;
            text-align: center;
            margin: 0;
            color: #fff;
        }

        p.text_job {
            position: absolute;
            text-align: center;
            margin: 0;
            color: #fff;
        }

        p.text_travel {
            position: absolute;
            text-align: center;
            margin: 0;
            color: #fff;
        }
    }

    div.body_main_under {
        display: flex;
        text-align: center;
        position: relative;

        img.img_sports {
            width: 300px;
            height: 200px;
        }

        img.img_caffee {
            width: 300px;
            height: 200px;
        }

        img.img_career {
            width: 300px;
            height: 200px;
        }
        
        p.text_sports {
            position: absolute;
            text-align: center;
            margin: 0;
            color: #fff;
        }

        p.text_caffee {
            position: absolute;
            text-align: center;
            margin: 0;
            color: #fff;
        }

        p.text_career {
            position: absolute;
            text-align: center;
            margin: 0;
            color: #fff;
        }
    }
}

.body_footer {
    margin-top: 50px;
    text-align: center;
    justify-content: space-evenly;

    div.body_footer_icon {
        border-radius: 20px;
        display: flex;
    }
        img.body_footer_icon_twitter {
            height: 30px;
            width: 50px;
        }
        img.body_footer_icon_github {
            height: 30px;
            width: 50px;
        }
        img.body_footer_icon_wantedly {
            height: 30px;
            width: 50px;
        }
}

.job {
    background-image: url("../backgroungImg/NY2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(225, 225, 225, 0.3);
}
