@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans&display=swap');

.top_img {
    height: 420px;
    width: 280px;
    margin-right: 20px;
    float: left;
}

.top {
    margin-left: 50px;
}

.top_page {
    font-family: 'Josefin Sans';
    /* margin-left: 200px; */
    display: block;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

@media screen and (max-width:480px) { 
    .top_page_content {
        display: flex;
        flex-direction: column;
    }
}


.top_page_content {
    display: flex;
}

// .top_page_content_row {
//     /* display: flex;   */
// }

.contents {
    margin-top: 100px;
}

.topic {
    list-style: none;
    justify-content: space-evenly;
    display: flex;
    font-size: 40px;
    margin-right: 150px;

}

.list-topic {
    text-decoration: none;
    color: #000;
}

.job_text {
    margin-left: 20px;
}

.return {
    text-decoration: none;
    color: #fff;
    margin-left: 150px;
    margin-top: 500px;
}

.list_page-jump {
    text-decoration: none;
}

.return_top {
    margin-top: 60px;
}

.job_topic {
    margin-top: 80px;
}

.job_page {
    color: #fff;
    background-color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 90%;
    color: #fff;
    background-color: #fff;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin: 0 auto;
}

.job_title {
    margin-left: 50px;
    font-size: 60px;
}

.job {
    background-image: url("../backgroungImg/NY2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(225, 225, 225, 0.3);
}

.school {
    height: 200vh;
    width: 100%;
}

.school_body {
    height: 100%;
    width: 100%;
}

// .school_body_top {
//     height: 100%;
//     width: 100%;
// }

.school_body_header {
    height: 5%;
    width: 100%;
}

.school_body_contents {
    height: 90%;
    width: 100%;
}

.school_body_footer {
    height: 5%;
    margin-top: 30px;
}

.school_body_contents_club {
    display: flex;
    flex-direction: column;
    height: 33%;
    width: 100%;
    background-color: #3484cb;
}

.school_body_contents_club_contents {
    display: flex;
    justify-content: space-between;
}

.school_body_contents_image {
    width: 50%;
}

.school_body_contents_image_club {
    width: 100%;
    height: 80%;
}

.school_body_contents_drink {
    display: flex;
    flex-direction: column;
    height: 33%;
    width: 100%;
    background-color: #eb5336;
}

.school_body_contents_drink_contents {
    display: flex;
    justify-content: space-between;
}

.school_body_contents_activity {
    display: flex;
    flex-direction: column;
    height: 33%;
    background-color: #faea46;
}

.school_body_contents_activity_contents {
    display: flex;
    justify-content: space-between;
}

.school_body_footer_return {
    cursor: pointer;
    text-decoration: none;
    margin-left: 30px;
    bottom: 0;
}

.school_body_contents_image_drink {
    height: 80%;
    width: 100%;
    right: 0;
}

.school_body_contents_image {
    right: 0;
}

.school_body_contents_text {
    width: 70%;
}

.school_body_contents_image_active {
    height: 90%;
    width: 100%;
}