@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans&display=swap');

@media screen and (max-width:480px) { 
    .top_page_content {
        display: flex;
        flex-direction: column;
    }
}

.top {
   min-height: 100%;

   .container {
       width: 100%;
       min-width: 980px;

       .container_header {
           box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
           height: 60px;
           min-width: 980px;
           position: relative;

           .header {
               height: 60px;
               position: absolute;
               right: 0;
               left: 0;
               top: 0;
               background-color: #fff;
               min-width: 980px;

               .header_contents {
                   display: flex;
                   height: 60px;
                }
           
                .header_title {
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    color: #00a4bb;
                    padding: 8px 8px 7px 8px;
                }

                .header_menu {
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    padding: 8px 8px 7px 8px;

                    .header_menu_ {
                        display: flex;
                        list-style: none;
                        margin: 0;
            
                        .header_munu_list {
                            font-weight: 800;
                            margin-left: 10px;
            
                            .header_munu_list_link {
                                color: #000;
                                display: block;
                                padding: 0 8px;
                                text-decoration: none;
                            }
                            .header_munu_list_link:hover {
                                color: #00a4bb;
                            }
                        }
                    }
                }
            }
   
        }

        .container_body {
            padding: 0;
            margin: 0 auto;
            width: 980px;

            .wrapper {
    
                .wrapper_header {
    
                    .wrapper_header_title {
                        padding-top: 56px;
                        position: relative;
                        margin-bottom: 18px;
                    }
                    .wrapper_header_img {
                        width: 978px;
                        height: 398px;
    
                        .body_img {
                            object-fit: cover;
                            max-width: 100%;
                            width: 978px;
                            height: 398px;
                        }
                    }
                }
    
                .wrapper_contents {
                    padding: 40px 40px 108px 0; 
                    width: 680px; 
                                  
                    .body_main {
                        margin-top: 56px;
    
                        .body_main_header {
                            margin-bottom: 40px;
                            position: relative;
    
                            .body_main_title {
                                font-size: 24px;
                                font-weight: 700;
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
    
                        .body_main_contents {
    
                            .body_main_contents_list {
                                display: flex;
                                list-style: none;
                                padding: 0;
                                margin: 0 0 30px -20px;
                                overflow: h;
                                overflow: hidden;
                                width: 680px;

                                .body_main_contents_list_colum {
                                    display: flex;
                                    flex-direction: column;
                                    margin: 0 20px;
                                    width: 300px;
                                    
                                    .body_main_contents_list_colum_img {
                                        height: auto;
                                        width: 300px;
                                    }
                                    
                                    .body_main_contents_list_colum_text {
                                        font-size: 12px;
                                        color: rgba(0,0,0,0.4);
                                        font-weight: 400;
                                        line-height: 1.33;
                                        margin-top: 10px;
                                        display: inline-block;
                                    }
                                }
                            }
    
                            .body_main_contents_text {
                                margin-top: 26px;
                                font-size: 15px;
                                line-height: 28px;
                                font-weight: 400;
                                color: rgba(0,0,0,0.84);
                            }
    
                        }
                        
                        
                        
                        
                    }
                }
            }
        }
    }
    

    .body_title {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.38;
    }

    
    
    .body_footer {
        margin-top: 50px;
        text-align: center;
        
        .body_footer_icon {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 10px;
            
            .body_footer_icon_link {
                color: #000;
                padding: 10px;
            } 
        }
    }
}
